<h1>商品列表</h1>

<%= link_to "新增產品", new_product_path, class: "btn btn-primary" %>
<table class = "table">
  <thead>
    <tr>
      <td><h4>產品名稱</h4></td>
      <td><h4>產品敘述</h4></td>
      <td><h4>產品價格</h4></td>
      <td><h4>操作</h4></td>
    </tr>
  </thead>
  <tbody>
    <!-- <% @products.each do |product|%>
      <%= render  "product", product: product %>
    <% end %> -->
    <%= render partial: "product", collection: @products %>
  </tbody>
 
</table>