<h1>Products</h1>

<%= link_to "新增產品", new_product_path %>
<table class = "table">
  <thead>
    <tr>
      <td>產品名稱</td>
      <td>產品敘述</td>
      <td>產品價格</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <!-- <% @products.each do |product|%>
      <%= render  "product", product: product %>
    <% end %> -->
    <%= render partial: "product", collection: @products %>
  </tbody>
 
</table>